# --- Data ---
app/temp_storage/
*.zip
*.7z
*.dcm
*.npy

data/raw/
data/processed/
data/ground_truth/

# --- Models ---
models/weights/*.pt
models/weights/*.pth
models/weights/*.h5
models/weights/*.onnx

# --- Python & Env ---
__pycache__/
*.pyc
venv/
.venv/
env/
.env

# --- OS & IDE ---
.vscode/
.idea/
.DS_Store
*.log